<header>
    <div class='headline'>
        <a href="{{site.root}}/index.php">
            <span class='logo'><img src='{{site.root}}/data/logo.png' /></span>
            <span class='title'>Literate-System</span>
        </a>
    </div>
    <div class='user_block'>
        <ul>
            {% if user.logged_in == 1 %}
                <li class='profile_link'><a href='{{site.root}}/profile.php?'{{user.name}}>{{user.name}}</a></li>
                <li class='log_out'><a href="{{site.root}}/logout.php">Выйти</a></li>
            {% else %}
                <li class='sign_up'><a href='{{site.root}}/register.php'>Зарегистрироваться</a></li>
                <li class='log_in'><a href="{{site.root}}/login.php">Войти</a></li>
            {% endif %}
        </ul>
    </div>
</header>
